{name, "ezk"}.
{authors, ["Marco Grebe <marco@gauss.gi.net>"]}.
{description, "Erlang-Bindings for Zookeeper"}.
{homepage, "https://github.com/infinipool/ezk"}.
{rebar_compatible, true}.
{license, "Apache Licesne Version 2.0"}.
{url, {git, "https://github.com/infinipool/ezk.git", {branch, "master"}}}.
{applications, [ezk]}.
